In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [4]:
data =pd.read_csv("advertising.csv")
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [6]:
inputs=data.drop('Sales',axis=1)
outputs=data.drop(['TV','Radio','Newspaper'],axis=1)
outputs

     Sales
0     22.1
1     10.4
2     12.0
3     16.5
4     17.9
..     ...
195    7.6
196   14.0
197   14.8
198   25.5
199   18.4

[200 rows x 1 columns]

In [7]:
import sklearn
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(inputs,outputs,train_size=0.8)
print(x_train,x_test,y_train,y_test)

        TV  Radio  Newspaper
128  220.3   49.0        3.2
99   135.2   41.7       45.9
34    95.7    1.4        7.4
115   75.1   35.0       52.7
144   96.2   14.8       38.9
..     ...    ...        ...
96   197.6    3.5        5.9
46    89.7    9.9       35.7
147  243.2   49.0       44.3
58   210.8   49.6       37.7
6     57.5   32.8       23.5

[160 rows x 3 columns]         TV  Radio  Newspaper
76    27.5    1.6       20.7
107   90.4    0.3       23.2
54   262.7   28.8       15.9
123  123.1   34.6       12.4
175  276.9   48.9       41.8
17   281.4   39.6       55.8
191   75.5   10.8        6.0
148   38.0   40.3       11.9
194  149.7   35.6        6.0
72    26.8   33.0       19.3
109  255.4   26.9        5.5
53   182.6   46.2       58.7
16    67.8   36.6      114.0
111  241.7   38.0       23.2
120  141.3   26.8       46.2
70   199.1   30.6       38.7
113  209.6   20.6       10.7
149   44.7   25.8       20.6
179  165.6   10.0       17.6
187  191.1   28.7       18.2
178  276.7    2.3       23.7
94   107.4   14.0       10.9
22    13.2   15.9       49.6
189   18.7   12.1       23.4
63   102.7   29.6        8.4
166   17.9   37.6       21.6
93   250.9   36.5       72.3
164  117.2   14.7        5.4
1     44.5   39.3       45.1
142  220.5   33.2       37.9
48   227.2   15.8       49.9
84   213.5   43.0       33.8
66    31.5   24.6        2.2
110  225.8    8.2       56.5
42   293.6   27.7        1.8
155    4.1   11.6        5.7
59   210.7   29.5        9.3
151  121.0    8.4       48.7
30   292.9   28.3       43.2
92   217.7   33.5       59.0      Sales
128   24.7
99    17.2
34    11.9
115   12.6
144   12.3
..     ...
96    16.7
46    10.6
147   25.4
58    23.8
6     11.8

[160 rows x 1 columns]      Sales
76     6.9
107   12.0
54    20.2
123   15.2
175   27.0
17    24.4
191   11.9
148   10.9
194   17.3
72     8.8
109   19.8
53    21.2
16    12.5
111   21.8
120   15.5
70    18.3
113   20.9
149   10.1
179   17.6
187   17.3
178   16.8
94    11.5
22     5.6
189    6.7
63    14.0
166    8.0
93    22.2
164   11.9
1     10.4
142   20.1
48    19.8
84    21.7
66    11.0
110   18.4
42    20.7
155    3.2
59    18.4
151   11.6
30    21.4
92    19.4

In [8]:
import sklearn
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [10]:
yp = model.predict(x_test)
yp[:5]

array([[ 6.26081559],
       [ 9.57098334],
       [22.12123874],
       [15.0865248 ],
       [25.03470429]])

In [12]:
result = model.predict([[float(6),int(6),int(6)]])
print(result)

[[5.59582008]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [18]:
acc=model.score(inputs,outputs)*100
acc

90.25912899684559